.chatbox {
  width:364px;
  max-width: 100%; /* Limiting the max-width for better appearance */
  height: 500px; /* Using viewport height for responsiveness */
  max-height: 500px; /* Limiting max-height for better appearance */
  margin: 20px auto; /* Centering the chatbox with some margin */
  padding: 8px;
  overflow-x: hidden;
  border-radius: 30px; /* Adding rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
  background: #f9f9f97e; /* Light background for better readability */
  border: 2px solid #0000009d; /* Lighter border color */
  overflow-y: auto; /* Enabling vertical scrolling */
  scroll-behavior: smooth;
  position: relative; /* Ensure the triangle is positioned correctly */
  
  @media (min-width: 400px) {
    width: 564px;
    max-width: 564px; /* Limiting the max-width for better appearance */
    height: 500px; /* Using viewport height for responsiveness */
    max-height: 500px; /* Limiting max-height for better appearance */
  }
}

.chat-message {
  margin-bottom: 10px;
  word-wrap: break-word;
  white-space: pre-wrap; // This ensures the text wraps properly
}

.chat-question, .chat-answer {
  display: flex;
  align-items: center;
  padding: 1px;
  border-radius: 15px;
  background-color: #e0e0e0;
  margin-bottom: 5px;
  border: 1px solid #060400;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chat-answer {
  background-color: #c084fc95;
  margin-right: 10%;


}
.chat-question {
  background-color: #7f8cee9e;
  margin-left: 10%;
}

.chat-typing {
  display: flex;
  align-items: center;
  padding: 1px;
  border-radius: 15px;
  background-color: #c084fc95;
  margin-bottom: 5px;
  border: 1px solid #060400;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: blinker 0.7s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

// @media (max-width: 600px) {
//   .chatbox {
//     width: 100%;
//     max-width: 200px;
//   }

//   .chat-question, .chat-answer {
//     font-size: 14px;
//   }
// }

@keyframes flicker {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

span.text-animation-chatgpt .cursor {
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 3px;
  background-color: #000000a3;
  animation: flicker 0.6s infinite;
}