.card {
    background: #00000050; /* Transparent background */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border on all sides */
    padding: 20px; /* Padding for better spacing */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 20px; /* Space between cards */
    margin-right: 1%;
    justify-content: center;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transitions */
    transform: translateY(-15px); /* Slight lift on hover */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
  }
  
  .card:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
  }
  
  .card h1,
  .card p {
    margin: 5px 0; /* Consistent spacing */
  }
  
  @media (max-width: 600px) {
    .card {
      padding: 5px; /* Smaller padding on mobile */
      margin-left: 10;
    }
  
    .card .flex {
      flex-direction: column; /* Stack elements vertically on mobile */
    }
  
    .card .flex h1 {
      margin-left: 10; /* Reset left margin on mobile */
      margin-right: 10;
    }
  }
  