

.background {
  background-color: #000000;
}
.greeting{
  font-size: 6rem; /* set font size */
  line-height: 1; /* reset line height */
  margin-left: 2rem; /* set margin */ 
  color: #dbdbdb; /* set text color */
  font-weight: bold; /* set font weight */
  text-align: center; /* set text alignment */
  margin-top: 2rem; /* set margin */
  z-index: 0;
  padding-top: 3rem;
  padding-bottom: 2rem;
  
  @media (max-width: 768px) {
    font-size: 4rem;
    padding-bottom: 0.2rem;
  
  }
  
  @media (max-width: 480px) {
    font-size: 2rem;
  }
  
  @media (max-width: 320px) {
    font-size: 2rem;
  }
  
}

.brandshadow{
  text-shadow: #ff8e48 0px 1px 12px;
}

.aboutme{
  font-size: 2rem; /* set font size */
  line-height: 1; /* reset line height */
  margin-left: 2rem; /* set margin */
  color: #dbdbdb; /* set text color */
  font-weight: bold; /* set font weight */
  text-align: center; /* set text alignment */
  margin-top: 1.5rem; /* set margin */
  z-index: 0;
  @media (max-width: 768px) {
    font-size: 2rem;
    margin-top: 0.2rem; 
  }
  
  @media (max-width: 480px) {
    font-size: 1rem;
  }
  
  @media (max-width: 320px) {
    font-size: 1rem;
  }
}

.someinfosection{
  font-size: 1rem; /* set font size */
  line-height: 1.5; /* reset line height */
  margin-left: 2rem; /* set margin */
  color: #dbdbdb; /* set text color */; /* set font weight */
  text-align: left; /* set text alignment */
  margin-top: 2rem; /* set margin */
  z-index: 0;
  font-weight: 10;
  width: 50%;
  @media (max-width: 768px) {
    font-size: 1rem;
    margin-top: 0.5rem; /* set margin */
  }
  
  @media (max-width: 480px) {
    font-size: 0.7rem;
  }
  
  @media (max-width: 320px) {
    font-size: 0.7rem;
  }
}


.summary{
  font-size: 1rem; /* set font size */
  line-height: 1.5; /* reset line height */
  margin-left: 1; /* set margin */
  color: #dbdbdb; /* set text color */; /* set font weight */
  text-align: left; /* set text alignment */
  margin-top: 0rem; /* set margin */
  z-index: 0;
  font-weight: 10;
  width: 90%;
  
  @media (max-width: 768px) {
    font-size: 0.7rem;
    padding-bottom: 0.2rem;
  
  }
  
  @media (max-width: 480px) {
    font-size: 0.7rem;
  }
  
  @media (max-width: 320px) {
    font-size: 0.8rem;
  }
}

.skills-container{
  color: #dbdbdb; 
  font-weight: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 0%;
  @media (max-width: 768px) {
    font-size: 0.9rem;
    padding-top: 0.5rem;
  }
  
  @media (max-width: 480px) {
    font-size: 0.9rem;
  padding-top: 0.5rem;

  }
  
  @media (max-width: 320px) {
    font-size: 0.5rem;
  }

}

/* .skill-card{
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.15rem 0.15rem;
  padding-left: 1;
} */

.skill-card-content{
  width: 4.5rem;
  height: 1.8rem;
  border-radius: 1rem;
  background-color: #676f9d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.15rem 0.15rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  @media (max-width: 768px) {
    width: 2.5rem;
    height: 0.8rem;
    margin: 0.09rem 0.1rem;
  }
  
  @media (max-width: 480px) {
    width: 2.5rem;
    height: 1.8rem;
  }
  
  @media (max-width: 320px) {
    width: 4.5rem;
  height: 1.8rem;
  }


  .skill-card-icon{
    @media (max-width: 768px) {

      font-size: 0.4rem;
    }
    
    @media (max-width: 480px) {

    }
    
    @media (max-width: 320px) {

    }
    

  }
}
